/*global styles*/
/* 
     dark-green - #3c8453
     sarly-beige - #bcaa96
     dark grey - #222
     light grey - #d3d4d6 
     off-white - #f6f6f6
 */
body{
    background-color: #f6f6f6;
}
html{
    box-sizing: border-box;
}
html,body{
    height: 100%;
}
*,*::before,*::after{
    box-sizing: border-box;
    margin: 0%;
}
.content-wrapper{
    margin: 0 auto;
    max-width: 900px;
}
a{
    color: #3c8453;
}
.btn{
    background-color: #3c8453;
    color: #f6f6f6;
    text-decoration: none;
}
/*Index*/
.home{
    background : url(Images/bg-home-office-studio.jpg) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;

}
.home .content-wrapper{
    margin: 0 auto;
    max-width: 900px;
    padding: 30px;
    flex: 1 0 auto;
}
.home .content-bg{
    padding: 30px;
    background: rgba(255,255,255,0.9);
}

/*Resume*/
.resume header{
background: url(Images/bg-home-office-studio.jpg) center/cover;
content: "";
display: block;
height: 375px;
}
.resume-section{
    margin-bottom: 50px;
}
.resume-section h2{
border-bottom: 2px dashed #d3d4d6;
}
.download-link{
position: fixed;
top: 5px;
left: 5px;
}

/*profile*/
/*projects*/
.project-item img{
    float: left;
    width: 300px;
    margin-right: 20px;
}
.project-item{
    display: flow-root;
    margin: 30px 0;
}
/*work-experience*/
/*education*/
/*Footer*/ 

footer{
    background-color: #222;
    color: #d3d4d6;
    display: flex;
    justify-content: space-between;
    padding-inline: 20px;
}
footer a{
    color: #bcaa96;
}
.socials{
    list-style-type: none;
    padding:0;
}
.socials img{
    width: 40px;
}
.socials li{
    display: inline-block;
    margin-left: 10px;
}
.socials img:hover{
    opacity: 0.5;
}
a:hover{
    color: red;
}
